# select a revision to deploy, available values: stable, beta, canary
AFFINE_REVISION=stable

# set the port for the server container it will expose the server on
PORT=3010

# database credentials
# create a random password with: openssl rand -hex 32
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=