# select a revision to deploy, available values: stable, beta, canary
AFFINE_REVISION=stable
AFFINE_SERVER_EXTERNAL_URL=https://affine.abdulnafea.ovh

# set the port for the server container it will expose the server on
PORT=3010

# database credentials
# create a random password with: openssl rand -hex 32
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=

# SMTP
MAILER_SERVERNAME=abdulnafea.ovh
MAILER_HOST=smtp.resend.com
MAILER_PORT=465
MAILER_USER=resend
MAILER_PASSWORD=
MAILER_SENDER=AFFiNE <affine@abdulnafea.ovh>
MAILER_IGNORE_TLS=false

